In [36]:
#Task 2 - Q1******
#           *****
#           ****
#           ***
#           **
#           *
#Reg ID :- IIPRSS1304
#Name:- S.Balaji


n=int(input("ENter a Number"))
for row in range(1,n+1):     #Execution for outer loop that is Row
  for col in range(row,n):   #Execution of inner loop that is Coloum
    print('*', end=" ")
  print()

ENter a Number6
* * * * *
* * * *
* * *
* *
*

In [37]:
 #Task 2 -Q2 1
  #           12
  #           123
  #           1234
  #           12345
  #           123456
#Reg ID :- IIPRSS1304
#Name:- S.Balaji

count=int(input("Enter a numver"))
for row in range(1,count):        #For Row 
  for col in range(1,row+1):      #For Colmum
    print(col,end=" ")            #Specify the col to show column number and Space
  print()

Enter a numver8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [38]:
#Task 2 -Q3      *
  #             * *
  #            * * *
  #           * * * *
  #          * * * * *
  #         * * * * * * 
#Reg ID :- IIPRSS1304
#Name:- S.Balaji

count1=int(input('ENter a number'))
for row in range(n):
  for col in range(row,n):
    print(" ",end=' ')
  for col in range(row):
    print('*',end=' ')
  for col in range(row+1):
    print('*',end=' ')

  print()

ENter a number8
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *